<%= form_for(@acesso) do |f| %>
  <% if @acesso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acesso.errors.count, "error") %> prohibited this acesso from being saved:</h2>

      <ul>
      <% @acesso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :server_id %><br>
    <%= f.number_field :server_id %>
  </div>
  <div class="field">
    <%= f.label :email_id %><br>
    <%= f.number_field :email_id %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
