<%- model_class = Server -%>
<div class="page-header">
  <h1>Servidores </h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th style="width:20px"><%= model_class.human_attribute_name(:id) %></th>
      <th style="width:120px"><%= model_class.human_attribute_name(:nome) %></th>
      <th style="width:100px"> Total </th>
      <th style="width:100px"> Hoje </th>
      <th style="width:100px"> Semana </th>
      <th style="width:100px"> Mes </th>
      <th style="width:150px"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= link_to server.id, server_path(server) %></td>
        <td><%= server.nome %></td>
        <td><b>Email:</b><%= server.email.count %> <br><b>Acessos:</b> <%= server.acesso.count %><br><b>Clicks:</b> <%= server.click.count %></td>
        <td><b>Email:</b> <%= server.email.where(data: Date.today.strftime).count %><br><b>Acessos:</b> <%= server.acesso.where(data: Date.today.strftime).count %> <br><b>Clicks: </b> <%= server.click_dia() %></td>
        <td><b>Email:</b> <%= server.email.where("data >= ? AND data <= ?", Date.today.at_beginning_of_week.strftime, Date.today.at_end_of_week.strftime).count %> <br><b> Acesso:</b> <%= server.acesso.where("data >= ? AND data <= ?", Date.today.at_beginning_of_week.strftime, Date.today.at_end_of_week.strftime).count %> <br><b>Clicks: </b><%= server.click_semana %></td>
        <td><b>Email</b>: <%= server.email.where('extract(month from data) = ?', Date.today.month).count %> <br> <b>Acesso:</b> <%= server.acesso.where('extract(month from data) = ?', Date.today.month).count %><br><b>Clicks:</b> <%= server.click_mes %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_server_path(server), :class => 'btn btn-mini' %>
          <%= link_to "Deletar Emails", deletar_emails_servers_path(:id => server.id), :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Voce tem certeza?')) }, :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      server_path(server),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Voce tem certeza?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_server_path,
            :class => 'btn btn-primary' %>
<%= link_to "Graficos", grafico_servers_path,
            :class => 'btn btn-primary' %>
<%= link_to "Limpar Database", limpar_db_servers_path,
            :class => 'btn btn-danger', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'VOCE ESTA EXCLUINDO TUDO SALDADO O1')) } %>
<br>
<br>
<%= render :partial => 'grafico' %>
