<h1>Listing clicks</h1>

<table>
  <thead>
    <tr>
      <th>Ip</th>
      <th>Time</th>
      <th>Server</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clicks.each do |click| %>
      <tr>
        <td><%= click.ip %></td>
        <td><%= click.time %></td>
        <td><%= click.server_id %></td>
        <td><%= link_to 'Show', click %></td>
        <td><%= link_to 'Edit', edit_click_path(click) %></td>
        <td><%= link_to 'Destroy', click, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Click', new_click_path %>
