<!DOCTYPE html>
<html>
<head>
  <title>World Wide Web</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= render 'layouts/menu' %>
  <div class="container">
    <div class="row">
      <div class="span12">
        <%= render 'layouts/messages' %>
      <div>
      <div class="span10"><%= yield %></div>
    </div>
  </div>
  <div class="footer">
   <p align='center'> Sistema  </p>
  </div>
</body>
</html>
